<!-- FICHIER THEME.LIQUID : A AJOUTER DANS LE <HEAD> -->  

{{ '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' | stylesheet_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }}
{{ '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js' | script_tag }}

<!-- FIN -->



<!-- FICHIER THEME.LIQUID : A AJOUTER SOUS LA BALISE <body> -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="https://i1.wp.com/edgard-lelegant.com/wp-content/uploads/2017/02/Guide-tailles-chaussures-300x201.png?resize=554%2C371" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- FIN -->



<!-- A AJOUTER A L'ENDROIT OU TU SOUHAITES VOIR LE BOUTON/TEXTE -->

<p style="cursor:pointer" data-toggle="modal" data-target="#exampleModal">
    Guide des tailles
</p>

<!-- FIN -->
